/* customizacao navbar */
.navbar-logo {
  width: 200px;
  height: auto;
  margin-right: 0.4rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
}
.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}
.navbar-nav .nav-link {
  font-weight: 700;
  color: #000000;
}
.navbar-nav .nav-link:hover {
  color: #75b3d6 !important;
}
.navbar-nav .nav-link.active {
  color: #75b3d6 !important;
  border-bottom: 2px solid #75b3d6;
  padding-bottom: 0.15rem;
}

body {
  margin: 0;
  padding: 0;
}

.agendamento-page {
  max-width: auto;
  margin-top: 50px;
}

.step {
  margin-bottom: 15px;
}

.step label {
  font-weight: 600;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.btn-agendar {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 12px;
  font-weight: 700;
  color: white;
  background: linear-gradient(90deg, #1b73d4, #3da2ff);
  transition: 0.3s;
}

.btn-agendar:hover {
  background: linear-gradient(90deg, #1259aa, #2d8be0);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup:not(.hidden) {
  display: flex;
}

.popup-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  max-width: 350px;
}

.hidden {
  display: none !important;
}

/*customizacao topo */
.agendamento-topo {
  background: linear-gradient(90deg, #51a6eb, #7ebbf5);
  color: white;
  padding: 50px 20px;
}

.agendamento-topo h1 {
  font-weight: 700;
}

.agendamento-topo p {
  opacity: 0.9;
}

.form-box {
  background: #ffffff;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

.form-control {
  border-radius: 10px;
  padding: 10px;
}

.form-control:focus {
  border-color: #3da2ff;
  box-shadow: 0 0 0 0.2rem rgba(61, 162, 255, 0.2);
}

.image-box img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 16px;
}

/*avisos */
.avisos-box {
  background: #ffffff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.aviso-card {
  background: #f8fbff;
  border-radius: 12px;
  padding: 18px;
  height: 100%;
  text-align: center;
  border: 1px solid #e6f0fa;
  transition: 0.3s;
}

.aviso-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(106, 150, 245, 0.08);
}

.aviso-card .icon {
  font-size: 26px;
  margin-bottom: 8px;
}

.aviso-card h6 {
  font-weight: 600;
  margin-bottom: 6px;
}

.aviso-card p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

footer {
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding: 1rem 0;
}
