/* customizacao navbar */
.navbar-logo {
  width: 200px;
  height: auto;
  margin-right: 0.4rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
}
.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}
.navbar-nav .nav-link {
  font-weight: 700;
  color: #000000;
}
.navbar-nav .nav-link:hover {
  color: #75b3d6 !important;
}
.navbar-nav .nav-link.active {
  color: #75b3d6 !important;
  border-bottom: 2px solid #75b3d6;
  padding-bottom: 0.15rem;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding: 1rem 0;
}
